* {
    box-sizing: border-box;
    background-color: bisque;

}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1
{
    background-color: #FF0000;
    color: white;
    display: flex;
    align-content: center;
    padding: 20px;
    width: fit-content;
}
.hamburger
{
    height: 850px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bulka_gora
{
    height: 10%;
    width: 90%;
    border-radius:20px;
    background-color:  #DEB887;
    border-bottom-style: solid;
    border-bottom-color:#D3A15F ;
    border-bottom-width: 20px;

    

    border-radius: 100px 100px 30px 30px;
     
}
.bulka_dol
{
    height: 9%;
    width: 90%;
    border-radius:20px;
    border-top-style: solid;
    border-top-color:#D3A15F ;
    border-top-width: 20px;


    border-radius: 30px 30px 100px 100px;

    
    background-color: #DEB887;
}
.ser
{
    height: 2%;
    width: 98%;
    background-color: #FFD700 ;
    
    border-bottom-style: solid;
    border-bottom-color:#DAA520 ;
    border-bottom-width: 5px;

}
.tomato_flat
{
    height: 3%;
    width: 60%;
    border-style: solid;
    border-width: 3px;
    border-color: #A52A2A;
    background-color: #FF0000 ;
}
.kotlet
{
    
    height: 5%;
    border-radius:15px;
    width: 80%;

    border-bottom: 13px solid #993300 ;

    background-color: #CC6633 ;
}
.cebula
{
    
    height: 5%;
    border-radius:5px;
    width: 65%;
    background-color:#800080  ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    align-content: space-between;
    gap: 10px;
}
.cebula_srodek
{
    height: 100%;
    border-radius:50%;
    width: 25%;
    background-color:#DDA0DD  ;

}
.meatball_container
{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.meatball
{
    height: 100%;
    border-radius:100%;
    width: 35%;
    background-color:#A52A2A  ;
}

.ogorek
{
 
    height: 4%;
    width: 65%;

    border-bottom-left-radius:45px;
    border-bottom-right-radius:45px;
    border-bottom: 10px solid green;
    background-color:lightgreen  ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;

}
